.col-sm-offset-1.col-sm-8
  .row.row-space-4.row-space-top-4
    p
        font(color='#6aa84f', size='4') Description
    p
        br
    p
          | Featured in TV show, this 1700 square feet (156 sq. meters) remodeled Victorian flat with 12-feet (3.7 meters) high ceilings, skylights, city views, and original detail offers all modern amenities. The cozy living room boasts a working fireplace. Kitchen with granite counter tops and modern appliances, office with wireless Mac laptop, hardwood floors, WI-FI, cable TV/DVD/CD stereo, laundry, linens, cookware.
    p
          br
    p
          | 15 minutes by bus from downtown San Francisco &amp; Moscone Center, you can experience a true San Francisco living in this trendy NOPA neighborhood. Just two blocks from restaurants, bars, coffee shops, and natural food stores. Walking distance from Golden Gate Park and several of San Francisco&apos;s distinctive neighborhoods, including Fillmore Street, Japantown, Hayes Valley, and Pacific Heights.
    p
          br
    p
          | Our flat and garden will offer a tranquil place for rest and relaxation in the midst of this exciting and beautiful city. Private yoga class available for extra charge.
    p
          br
    p
     | We speak English, French, and Spanish.&nbsp;
    p
          br
    p
     | Highlights:&nbsp;
    p
     | - Prime location&nbsp;
    p
     | - Luxurious Amenities&nbsp;
    p
     | - High chair and crib available upon request&nbsp;
    p
     | - iHome Dock + Mac laptop with wifi&nbsp;
    p
     | - 4 Bedrooms (2 queen beds, 2 twin beds, twin-over-twin bunk bed)&nbsp;
    p
          br
    p
          | A well known blogger wrote a piece about the flat in 2010. We have improved the apartment since but you might find it interesting. If you search for &apos;1477 McAllister Susan Anderson&apos; on google, you will find it.
    p
          br
    p
        | The house is centrally located, one block from Alamo Square with its famous view of the row houses known as the, &apos;painted ladies,&apos; and recently renovated playground for children. Several area attractions are close by including Haight-Ashbury, Golden Gate Park, Castro district, Japantown, de Young museum, Fillmore Street, and City Hall. The flat is within walking distance from many well-reviewed area restaurants, coffee shops and nightlife.
    p
          br
    p
          | You can walk everywhere. Our walk score is 94 out of 100: 
          a(href='http://www.walkscore.com/score/1477-mcallister-st-san-francisco-ca-94115') http://www.walkscore.com/score/1477-mcallister-st-san-francisco-ca-94115
    p
        font(color='#6aa84f', size='4')
          br
