.col-sm-offset-1.col-sm-10
  .row.row-space-4.row-space-top-4
    h4 Description
    .row.text-center
      a(data-toggle='modal', data-target='#siteModal', data-whatever='carousel')
        img.carousel(src='/images/flat/frontview.jpg', alt='Historic Victorian')
    .row
      hr
      .col-sm-4
        .h3.margin-top-0
          small Amenities
      .col-sm-4.col-xs-6
        //- ul.list-unstyled
        ul#ul-no-inset
          li Parking
          li Cable TV
          li Wireless Internet
          li Mac Computer
          li Cookware

      .col-sm-4.col-xs-6
        ul#ul-no-inset
          li Family/Kid Friendly
          li Washer
          li Dryer
          li Linens
          li Heating


    .row
      hr
      .col-sm-4
        .h3.margin-top-0
          small Overview
      .col-sm-8.col-xs-12
        p Featured in TV show, this 1700 square feet (156 sq. meters) remodeled Victorian flat with 12-feet (3.7 meters) high ceilings, skylights, city views, and original detail offers all modern amenities. The cozy living room boasts a working fireplace. Kitchen with granite counter tops and modern appliances.
        p A well known blogger wrote a piece about the flat in 2010. We have improved the apartment since but you might find it interesting. If you search for &apos;1477 McAllister Susan Anderson&apos; on google, you will find it.        
        p Our flat and garden will offer a tranquil place for rest and relaxation in the midst of this exciting and beautiful city.
        p 4 Bedrooms with 2 queen beds, 2 twin beds, twin-over-twin bunk bed.
        p High chair and crib available upon request.
    .row
      hr
      .col-sm-4
        .h3.margin-top-0
          small House Rules
      .col-sm-8.col-xs-12
        ul#ul-no-inset
          li Please respect the neighbors
          li Please be mindful of the noise. We will keep your deposit in case of noise complaints. 
          li No parties
          li No pets
          li No smoking
          li Please leave the space neat and put trash in the bins
    .row
      hr
      .col-sm-4
        .h3.margin-top-0
          small Local Attractions
      .col-sm-8.col-xs-12
        ul#ul-no-inset
          li Haight-Ashbury
          li Golden Gate Park
          li Castro district
          li Japantown
          li De Young museum
          li Fillmore Street and Jazz Center
          li City Hall
          li Sunday Farmers Market
          li The flat is within walking distance to many well-reviewed area restaurants, coffee shops and nightlife.
    .row
      hr
      .col-sm-4
        .h3.margin-top-0
          small Getting Around
      .col-sm-8.col-xs-12
        p You can walk everywhere. Our walk score is 94 out of 100 at 
          a(href='http://www.walkscore.com/score/1477-mcallister-st-san-francisco-ca-94115', target='_blank') walkscore.com
        p The house is centrally located, one block from Alamo Square with its famous view of the row of houses known as the, &apos;painted ladies,&apos; and recently renovated playground for children. 
        p 15 minutes by bus from downtown San Francisco &amp; Moscone Center, you can experience a true San Francisco living in this trendy NOPA neighborhood. Just two blocks from restaurants, bars, coffee shops, and natural food stores. Walking distance from Golden Gate Park and several of San Francisco&apos;s distinctive neighborhoods, including Fillmore Street, Japantown, Hayes Valley, and Pacific Heights.
  .row.row-space-top-4
    p
          
