.container
  .row
    #highlights-column.col-lg-8
      div
        span(style='font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(color='#6aa84f', size='4') Description
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:normal')
          br
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            | Featured in TV show, this 1700 square feet (156 sq. meters) remodeled Victorian flat with 12-feet (3.7 meters) high ceilings, skylights, city views, and original detail offers all modern amenities. The cozy living room boasts a working fireplace. Kitchen with granite counter tops and modern appliances, office with wireless Mac laptop, hardwood floors, WI-FI, cable TV/DVD/CD stereo, laundry, linens, cookware.
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            br
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            | 15 minutes by bus from downtown San Francisco &amp; Moscone Center, you can experience a true San Francisco living in this trendy NOPA neighborhood. Just two blocks from restaurants, bars, coffee shops, and natural food stores. Walking distance from Golden Gate Park and several of San Francisco&apos;s distinctive neighborhoods, including Fillmore Street, Japantown, Hayes Valley, and Pacific Heights.
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            br
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            | Our flat and garden will offer a tranquil place for rest and relaxation in the midst of this exciting and beautiful city. Private yoga class available for extra charge.
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            br
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3') We speak English, French, and Spanish.&nbsp;
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            br
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3') Highlights:&nbsp;
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3') - Prime location&nbsp;
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3') - Luxurious Amenities&nbsp;
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3') - High chair and crib available upon request&nbsp;
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3') - iHome Dock + Mac laptop with wifi&nbsp;
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3') - 4 Bedrooms (2 queen beds, 2 twin beds, twin-over-twin bunk bed)&nbsp;
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            br
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal')
          font(size='3')
            | A well known blogger wrote a piece about the flat in 2010. We have improved the apartment since but you might find it interesting. If you search for &apos;1477 McAllister Susan Anderson&apos; on google, you will find it.
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal;background-color:transparent')
          font(size='3')
            br
      div
        span(style='font-size:medium;color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif')
          | The house is centrally located, one block from Alamo Square with its famous view of the row houses known as the, &apos;painted ladies,&apos; and recently renovated playground for children. Several area attractions are close by including Haight-Ashbury, Golden Gate Park, Castro district, Japantown, de Young museum, Fillmore Street, and City Hall. The flat is within walking distance from many well-reviewed area restaurants, coffee shops and nightlife.
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal;background-color:transparent')
          font(size='3')
            br
      div
        span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;line-height:normal;background-color:transparent')
          font(size='3')
            | You can walk everywhere. Our walk score is 94 out of 100: 
            a(href='http://www.walkscore.com/score/1477-mcallister-st-san-francisco-ca-94115') http://www.walkscore.com/score/1477-mcallister-st-san-francisco-ca-94115
      div
        h4
          font(size='3')
            div
              img(src="https://www.google.com/chart?chc=sites&cht=d&chdp=sites&chl=%5B%5BGoogle+map'%3D20'f%5Cv'a%5C%3D0'10'%3D499'0'dim'%5Cbox1'b%5CF6F6F6'fC%5CF6F6F6'eC%5C0'sk'%5C%5B%22Untitled+Location%22'%5D'a%5CV%5C%3D12'f%5C%5DV%5Cta%5C%3D10'%3D0'%3D500'%3D497'dim'%5C%3D10'%3D10'%3D500'%3D497'vdim'%5Cbox1'b%5Cva%5CF6F6F6'fC%5CC8C8C8'eC%5C'a%5C%5Do%5CLauto'f%5C&sig=QEHwg9iiJVY0xwtt_bTn9DaBAaQ", data-origsrc='?ll=37.777209%2C-122.434559&spn=0.01038%2C0.030041&ie=UTF8&z=15&t=roadmap&sll=37.777209%2C-122.434559&sspn=0.01038%2C0.030041&q=37.777499%2C-122.435803%20(Untitled%20Location)', data-type='map', data-props='align:center;borderTitle:Untitled Location;height:500;objectTitle:Untitled Location;showBorder:true;showBorderTitle:false;wrap:false;', width='500', height='500', style='display:block;margin:5px auto;text-align:center;')
            br
        h4
          font(size='3')
            br
        h4
          font(size='3') Fees:&#x9;
        ul
          li
            font(size='3')
              span Refundable Damage Deposit
              | &nbsp;
              span $400
          li
            font(size='3')
              span Cleaning Fee
              | &nbsp;
              span $250
          li
            font(size='3')
              span Taxes
              | &nbsp;
              span Included
      div
        span(style='font-family:Arial,Helvetica,sans-serif;line-height:normal;background-color:transparent')
          font(color='#6aa84f', size='4')
            br
