.col-sm-offset-1.col-sm-10
  .row.row-space-0
    .col-sm-4.hidden-xs
      a#owner-profile.margin-top-3(href='#owner')
        img#owner-profile-image(src='/images/family.jpg')
      a(href='#owner')
        h3.margin-top-1
          small Peggy & Oz
    .col-sm-8.col-xs-12
      .row.h3.text-center Victorian Flat in Historic Alamo Square
        p.small 
          | San Francisco, California 
          a#reviews-link.text-center(href='#reviews')
            span.star-icon
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
            | (99)  
      .row.row-space-top-2.h3
        .col-xs-4.text-center.small
          .highlights-icon
            i.glyphicon.glyphicon-user
          p Sleeps up to 8
        .col-xs-4.text-center.small
          .highlights-icon
            i.glyphicon.glyphicon-bed
          p 4 bedrooms
        .col-xs-4.text-center.small
          img.bath-icon(src='/images/icons/64x64_bathroom.png')
          p 2 bathrooms
      hr
      .row.h4
        .col-xs-6.small
          p Nightly Rate: $365
          p Taxes: Included
        .col-xs-6.small
          p Refundable Deposit: $400
          p Cleaning Fee: $165
      hr
      .row.margin-top-0
        .col-xs-6.visible-xs
          a#owner-profile.margin-top-0(href='#owner')
            img#owner-profile-image(src='/images/family.jpg')
          a(href='#owner')
            h3.margin-top-1
              small Peggy & Oz
        .col-sm-6.col-xs-6
          h5
            p
              a#contact-by-email(href!='mailto:#{email}') 
                span.email-icon
                  i.glyphicon.glyphicon-envelope
                  |  CONTACT US
            p
              .phone-icon#contact-by-phone
                i.glyphicon.glyphicon-phone
                span 1-415-425-8658
          h6.visible-xs
            i We respond quickly!
        .col-sm-6.hidden-xs
          h6
            i We respond quickly!
      .row.text-center
