.col-sm-offset-1.col-sm-10
  .row.row-space-0
    .col-sm-3.text-center
      a#owner-profile.margin-top-3(href='#owner')
        img#owner-profile-image(src='/images/family.jpg')
      a(href='#owner')
        h3.margin-top-1
          small Peggy & Oz
    .col-sm-9.text-center
      .row.h3 Victorian Flat in Historic Alamo Square
        p.small 
          | San Francisco, California 
          a(href='#reviews')
            span.star-icon
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
              i.glyphicon.glyphicon-star
            | (93)  
      .row.row-space-top-2.h3
        .col-xs-4.small
          .highlights-icon
            i.glyphicon.glyphicon-user
          p Sleeps up to 8
        .col-xs-4.small
          .highlights-icon
            i.glyphicon.glyphicon-bed
          p 4 bedrooms
        .col-xs-4.small
          img.bath-icon(src='/images/icons/64x64_bathroom.png')
          p 2 bathrooms
      hr
      .row.h4
        span.small Refundable Damage Deposit: $400
        span.hidden-xs.small
          |, 
        .clearfix.visible-xs-block 
        span.small Cleaning Fee: $165
        p.small
          | Taxes: Included
      hr
      .row.margin-top-1
        .col-sm-6
          h5
            a(href!='mailto:#{email}') 
              span.email-icon
                i.glyphicon.glyphicon-envelope
                |  CONTACT US
        .col-sm-6
          h5
            .phone-icon
              i.glyphicon.glyphicon-phone
              span 1-415-425-8658
      .row
        h6
          i We respond quickly!
