h4
  font(color='#6aa84f', size='4', style='font-weight:normal') Contact
  div
    font(size='3')
      | Email:&nbsp;
      a(href!='mailto:&#112;&#101;&#103;&#103;&#121;&#111;&#122;&#115;&#117;&#97;&#100;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;') contact email
  div
    font(size='3') Phone: 415-425-8658
  h4
    span(style='font-family:Arial,Helvetica,sans-serif;font-weight:normal')
      font(color='#6aa84f', size='4') Accommodations
  h4
    span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;font-weight:normal')
      font(size='3') 4 bedrooms (sleeps up to 8), 2 baths, office, dining room, and living room.&nbsp;
div
  span(style='color:rgb(0,0,0);font-family:Arial,Helvetica,sans-serif;font-size:13px;line-height:normal')
    br
