#home-image-container
  img.img-responsive#home-image(alt='One Block from the Famous Painted Ladies', border='0', src='/images/flat/1200px-Painted_Ladies_San_Francisco_January_2013_panorama_2.jpg')
  #home-image-overlay
    | Rent a flat in Alamo Square
    br
    | Painted Ladies, Vibrant Neighborhood
  #home-image-attribution
    a(href='http://commons.wikimedia.org/wiki/File:Painted_Ladies_San_Francisco_January_2013_panorama_2.jpg#/media/File:Painted_Ladies_San_Francisco_January_2013_panorama_2.jpg', target="_blank") CC-BY-SA-3.0