.col-sm-offset-1.col-sm-10
  .row.row-space-4.row-space-top-4
    h4 Location
    a(data-toggle='modal', data-target='#siteModal', data-whatever='googleMap')
      img.img-responsive.center-block.clickable(src='https://maps.googleapis.com/maps/api/staticmap?zoom=16&center=37.7763%2C-122.4346&size=640x640&markers=37.7776%2C-122.4359&key=#{apiToken}')
