.col-sm-offset-1.col-sm-10
  .row.row-space-4.row-space-top-4
    h4 About Owners, Peggy & Oz
  .row
    .col-sm-4
      a#owner-profile.margin-top-3(href='#owner')
        img#owner-profile-image(src='/images/family.jpg')
      a(href='#owner')
        h3.margin-top-1
          small Peggy & Oz
    .col-sm-8
      p We moved to San Francisco in 1996. We love the location, very central to everything and yet part of the local community. It is 1 block from Alamo Square, a beautiful park with its Painted Ladies. 
      p The Alamo Square Historic District is significant as a continuum of distinguished residential architectures spanning a period from the 1870's to the 1920's. You will see amazing Victorian Homes that survived the big 1906 Earthquake, including our place which is where you will be staying. 
      p Our place is among the TOP 10 MOST RATED VRBO RENTALS IN SAN FRANCISCO.
      p We speak English, French, and Spanish.
