.col-lg-8
  div
    span(style='font-family:Arial,Helvetica,sans-serif;line-height:normal')
      font(color='#6aa84f', size='4') About Owners, Peggy & Oz
  .row
    .col-md-3
      a#owner-profile(href='#owner')
        img#owner-profile-image
    .col-md-9
      span Hi
