.container
  div
    font(color='#93c47d', size='4')
      | Photos
  div
    br
  div
    table(border='1', bordercolor='#888', cellspacing='5', style='border-collapse:collapse;border-color:rgb(136,136,136);border-width:0px')
      tbody
        tr
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798895365511378', imageanchor='1')
                img(alt='Historical Victorian Home - survived 1906 earthquake', border='0', src='https://lh5.googleusercontent.com/--1g9TJy6y14/VNwhMp82WNI/AAAAAAAAACY/NC7ZazFCyPY/s400/frontview.jpg')
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798885961155090', imageanchor='1')
                img(alt='Entrance, Victorian style', border='0', src='https://lh4.googleusercontent.com/-DP6RYsTGftM/VNwhMG6rQhI/AAAAAAAAACc/LLoSn4uobWY/s400/entrance.jpg')
        tr
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798899660872754', imageanchor='1')
                img(alt='Top of the line kitchen', border='0', src='https://lh4.googleusercontent.com/-xsrek08rhNs/VNwhM588XDI/AAAAAAAAABc/EiyROf5pkyg/s400/kitchen.jpg')
          td(style='width:58px;height:14px')
            img(alt='Living room', border='0', src='https://lh3.googleusercontent.com/-ZlwD4nRyVCM/VNwhNwfPK0I/AAAAAAAAACM/Gdg9geEd1wU/s400/livingroom.jpg')
        tr
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798887787661186', imageanchor='1')
                img(alt='Dining Table by the Kitchen', border='0', src='https://lh6.googleusercontent.com/-d3ErXdsIj-s/VNwhMNuJh4I/AAAAAAAAACo/FT1C0KfFzjY/s400/diningroom.jpg')
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114796795329635410', imageanchor='1')
                img(alt='Master Bedroom', border='0', src='https://lh3.googleusercontent.com/-F_ySOtaNJNQ/VNwfSatR5FI/AAAAAAAAAAQ/fI3fSx8rJWQ/s400/masterbed.jpg')
        tr
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114797273623767442', imageanchor='1')
                img(alt='Master Bedroom-2', border='0', src='https://lh5.googleusercontent.com/-pK0L_hFhLIM/VNwfuQffKZI/AAAAAAAAAAg/pa5pAgZHoSY/s400/masterbed2.jpg')
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798913872240098', imageanchor='1')
                img(alt='Bathroom', border='0', src='https://lh3.googleusercontent.com/-S3kLvgfjzSM/VNwhNu5MneI/AAAAAAAAACQ/2Zz-ZbASXgM/s400/largebath2.jpg')
        tr
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              img(alt='Large bathroom with skylights', border='0', src='https://lh5.googleusercontent.com/-CPuTpZffVMw/VNwhNR37TyI/AAAAAAAAACU/JRfpY4WKAOc/s400/largebath.jpg', style='font-size:10pt')
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798932208281106', imageanchor='1')
                img(alt='Second Bedroom', border='0', src='https://lh6.googleusercontent.com/-eBBqv39OBYQ/VNwhOzM2ZhI/AAAAAAAAAB4/WoY7OLoVmB0/s400/secondbed2.jpg')
        tr
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798929192843458', imageanchor='1')
                img(alt='Second Bedroom-2', border='0', src='https://lh5.googleusercontent.com/-OF5m_4WD87w/VNwhOn96eMI/AAAAAAAAACE/pisfb5gu1nQ/s400/secondbed.jpg')
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798936326462242', imageanchor='1')
                img(alt='Third Bedroom - twin beds', border='0', src='https://lh5.googleusercontent.com/-9CSzmiTGfOI/VNwhPCis2yI/AAAAAAAAAB8/oLFG3fbPzGw/s400/twinbeds.jpg')
        tr
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798943199711858', imageanchor='1')
                img(alt='Third Bedroom', border='0', src='https://lh4.googleusercontent.com/-F57wovrbd4Q/VNwhPcJaUnI/AAAAAAAAACA/_8jPDpFP2so/s400/twinbeds2.jpg')
          td(style='width:58px;height:14px')
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798885136473410', imageanchor='1')
                img(alt='A Block away from the House', border='0', src='https://lh4.googleusercontent.com/-MOtI72YNJ6s/VNwhMD2DnUI/AAAAAAAAACg/GJkoFMMMQz0/s400/blockaway.jpg')
        tr
          td
            div(style='display:block;text-align:left')
              a(href='https://picasaweb.google.com/111054626064929607848/AlamoSquareVictorian?authkey=Gv1sRgCNmC9uGQ08etVg#6114798921659962034', imageanchor='1')
                img(alt='A Block away from Alamo Square Park and the famous Painted Ladies', border='0', src='https://lh4.googleusercontent.com/-3eknJnWJ18s/VNwhOL570rI/AAAAAAAAACI/vFmSb6mwcAE/s400/paintedladies.jpg')
          td &nbsp;
    br