.col-sm-offset-1.col-sm-10
  .row.row-space-4.row-space-top-4
    div(style='display:inline-block; float: right')
        a(href='http://www.vrbo.com/231073/reviews', target='_blank', rel='nofollow')
            img(src='http://www.vrbo.com/haow/api/image/vrbo/vrbo/231073/reviews', alt='HomeAway Property', style='border:none;', rel='nofollow')
    h4 Reviews
  .row.row-space-4.row-space-top-4
    p
    p
      | &nbsp; &nbsp; Sodalike Switzerland
    p
      | &nbsp; &nbsp; Urlaub in San francisco
    p
        | Super Wohnung. Alles war vorhanden. Ganz netter Kontakt. Wir bekamen reichlich Informationen. Wohnung sehr sauber und gut erhalten. Zum weiter empfehlen. Nahe Busstation. Alle Sehensw&uuml;rdigkeiten sehr schnell mit den &Ouml;V erreichbar. Man braucht kein Auto.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: November 10, 2014
    p
      | &nbsp; &nbsp;&nbsp;
    p
      br
    p
      | &nbsp; &nbsp; Andres Houston
    p
      | &nbsp; &nbsp; Only way to travel!
    p
        | I can&apos;t tell you how much we enjoyed our visit to San Francisco, and what made it so enjoyable was staying in your flat versus a hotel. My family just loved it. We will be contacting you again for future stays. Having a parking spot was a real plus.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: November 6, 2014
    p
      | &nbsp; &nbsp;&nbsp;
    p
        br
    p
      | &nbsp; &nbsp; cbroo4 Dallas, Texas
    p
      | &nbsp; &nbsp; Wonderful Stay
    p
        | We had a perfect stay in San Francisco with our family of five, including three teenagers. The apartment is very centrally located with a lot of restaurants and bars nearby. It&apos;s a beautiful property and is well maintained and clean. We especially appreciated the parking space and the washer dryer - we did not use our car at all while in San Francisco; the bus system is convenient and easy to navigate. The owner, Peggy, was very helpful and prompt in answering questions. We visited all the usual San Francisco attractions, but we especially enjoyed the museum and the Academy of Sciences - an amazing place for kids, teens, and adults.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: July 30, 2014
    p
        br
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Claire Canada
    p
      | &nbsp; &nbsp; Location, Location, Location
    p
        | The house was simply perfect. Excellent location. Only one block away from the famous Painted Ladies yet on a very quiet street. Very close to great cafes and restaurants. We felt like we were living in San Francisco like locals. There was an Apple computer for us to use and Wifi. The kitchen is well equipped and the bathroom is simply lovely. We already have recommended it. They seem to book pretty fast so be aware, it is popular!
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: July 15, 2014
    p
      br
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Debbie N. Greenwood, USA
    p
      | &nbsp; &nbsp; Debbie Norris
    p
        | I highly suggest you rent this Victorian Flat. VERY clean and NICE!!! Beds very comfortable. Kitchen is amazing! Everything is amazing! Peggy is wonderful to work with. I highly recommend to rent from her. You will NOT regret it!!!
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: July 7, 2014
    p
        br
    p
      br
    p
        br
    p
      | &nbsp; &nbsp; Mayumi Rocklin CA
    p
      | &nbsp; &nbsp; Mayumi
    p
        | This is the truly best location to stay! I wish we could stay longer to get to know more area. We had 3 kids and all location is almost 10-15 min away. Room is very clean and my kids love this house! We didn&apos;t even use 2 room. It&apos;s very great space. Thank you so much!!I will come back to stay!
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: June 20, 2014
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; PV Traveller British Columbia, Canada
    p
      | &nbsp; &nbsp; Incredible Flat and Location
    p
        | We really enjoyed our stay at this flat. Everything about it exceeded our expectations. The location was second to none - pisidero, Alamo Park, and Hayes Valley were close-by and great hangouts for us. The abundance of space in the flat was perfect for our group of five. The excellent condition and charming character of the flat made our stay in San Francisco so special. We were all very comfortable. We are so happy that we found this flat to rent. It would definitely be our first choice for accommodation on our next trip to San Francisco. Renting from the owner was a very smooth and positive process.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: April 6, 2014
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Glenn
    p
      | &nbsp; &nbsp; Outstanding
    p
        | I normally would have gotten two average rooms at a nice hotel on Union Square, but having this beautiful apartment -- with 5 times the space, including a full kitchen -- for the same price was a much, much better deal. Nice neighborhood.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: March 11, 2014
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Kaplan Strasbourg, France
    p
      | &nbsp; &nbsp; Great flat, a real gem !
    p
        | A great, very spacious and very clean flat near Alamo square, a real gem ! The place is perfect for family with kids. Three spacious room, big kitchen, two bathroom. Without or with car, bus in the street, no problem for parking. For our next trip in SF, this will be, (we hope so), without hesitation, our place !
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: March 8, 2014
    p
      br
    p
      br
    p
        br
    p
      | &nbsp; &nbsp; Happy
    p
      | &nbsp; &nbsp; Wonderful!!!
    p
        | Such a beautiful flat with all the amenities in a great location. The owners were so responsive and helpful!! Slept 6 comfortably. Great walking neighborhood right in the heart of the City. Quiet and private, and everything was in top condition. Would definitely stay there again!
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: February 17, 2014
    p
        br
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; jkenz84 Saint Louis, MO, USA
    p
      | &nbsp; &nbsp; Beautiful flat in nice neighborhood!
    p
        | I can&apos;t say enough about this rental. The apartment itself was beautiful. Very spacious and clean. We were traveling with 5 adults and a one year old and we all had plenty of space. There is a small office (which worked well as a nursery with our pack n play), a living room, three bedrooms, a huge kitchen and attached dining room. The rooms were very comfortable. I wanted to take the bed home with me! The kitchen was amazing! Giant skylight and well stocked with dishes. The house is located right by pisadero and McAllister which means that the 5 Fulton bus runs right by it. This particular bus is the best because it can take you to the beach or downtown. Peggy was easy to get a hold of and answered question quickly. Another nice thing about this apartment is that it is child friendly. There was a pack n play there as well as a high chair, games, a sippy cup, etc. It was wonderful! I would stay there again in a heartbeat!
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: January 23, 2014
    p
      br
    p
      br
    p
        br
    p
      | &nbsp; &nbsp; Le Gibon France
    p
      | &nbsp; &nbsp; Excellent location
    p
        | Very convenient location and very clean appartment. We felt like we were at home. Planning to come back again soon.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: August 19, 2013
    p
        br
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Scott, Culver City, CA
    p
      | &nbsp; &nbsp; Perfect Apartment for entire family!
    p
        | The flat was spacious, clean, and had everything we needed for all of us (kids, parents, grandparents). Since we&apos;ve lived in San Francisco previously, we picked Alamo Square to stay in for its location (residential and close to everything). We all felt at home here and could&apos;t have asked for anything more. The kitchen and bathrooms were elegantly updated with modern features while the integrity of the Victorian style flat was maintained throughout. This is a true San Francisco experience.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: May 23, 2013
    p
        br
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Alissa San Francisco, Ca
    p
      | &nbsp; &nbsp; Amazing apartment, Accommodating owners
    p
        | My family came to visit from Chicago and I found this apartment for them. It was perfect. The 3 bedrooms were so big and spacious and the kitchen and bathrooms were as amazing as they look in the photos and it was super clean. My family really enjoyed staying here and they could not stop talking about how nice the apartment was. Peggy was really nice and accomodating too. She was there to greet us when we arrived. The neighborhood the apartment is in is also ideal. Central to everything, easy to get around to other neighborhoods as many of the buslines are less than a block away and delicious restaurants. The fact that parking is available too is key if you have a rental car. Also, my security deposit was returned right away which I appreciate! I would give this apt 10 stars if I could. Happy Traveling!
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: March 14, 2013
    p
        br
    p
      | &nbsp; &nbsp; Valerie B. Toronto
    p
      | &nbsp; &nbsp; No doubt: San Francisco Jewel
    p
        | This was our second time staying at this flat. From the moment you enter this gem of an apartment, you will feel you have entered a very special place. The property is very well organized, stocked with everything needed, and well maintained. We chose this flat again partly for the location, as we love to walk everywhere, and we certainly did that! It is also on the bus line so very easy to take the bus. Staying in the apartment helped to make us feel part of this lovely neighbourhood, and everything we needed was nearby. Thank you Peggy and Oz
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: February 24, 2013
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Jessica R Toronto
    p
      | &nbsp; &nbsp; Exceeded our high expectations
    p
        | Words can&apos;t do justice to the wonderful time we had here. The home was truly beautiful in many ways. There was a dedicated driveway so we did not have to worry about parking. It was convenient to walk to so many places and we were downtown in 10 minutes by bus. The flat is so spacious and bright. The owners are very friendly. We already started planning when we want to go back.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: January 26, 2013
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Rozlyn M. Bolinas/California
    p
      | &nbsp; &nbsp; Fantastic Victorian House &amp; Location
    p
        | What a great house and location! Super nice owners! The house is located in a very interesting area with restaurants, parks, a natural foods grocery store, transportation access, etc, all in a short walking distance. The house is very comfortable and very nicely furnished and decorated quite pleasingly. Lots of space, lots of rooms, high ceilings and even parking. Great vibes! You&apos;ll feel just like you&apos;re in San Francisco. What a great city! P.S. Thank you Peggy for providing an infant crib and high chair. A great place for babies, as well.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: September 5, 2012
    p
        br
    p
        br
    p
      | &nbsp; &nbsp; Berenice S. Toulon
    p
      | &nbsp; &nbsp; Parfait!
    p
        | Cet appartement &eacute;tait parfait, la location &eacute;tait id&eacute;ale. On a mange dans de bons restaurants dans le quartier. L&apos;appartement lui meme est tr&egrave;s spacieux, la cuisine est si grande. Je ne voulais plus partir.
    p
      | &nbsp; &nbsp; &nbsp; &nbsp; Submitted: August 18, 2012
      br
      br
    p
        b Guestbook comments:
    p
        br
    p
        | Les propritaires ont &eacute;t&eacute; accueillants et de tr&egrave;s bon conseillers quant aux lieus &agrave; visiter. L&apos;appartement en lui m&ecirc;me est grand, spacieux, tr&egrave;s typique du quartier des maisons victoriennes avec un charme fou. Pour un premier voyages &agrave; San Francisco cette location nous a permis d&apos;appr&eacute;cier notre s&eacute;jour &agrave; sa juste valeur. Nous sommes venus pour un voyage romantique et d&eacute;couverte, nous n&apos;avons pas &eacute;t&eacute; d&eacute;&ccedil;us du voyage!! De plus l&apos;appartement offre des prestations assez hauts de gamme et nous avons eu la surprise d&apos;avoir sur la table une bouteille de vin et des chocolats &agrave; notre arriv&eacute;e! Tout simplement merci aux propri&eacute;taires pour la beaut&eacute; de la location et la gentillesse dont ils ont fait preuve lorsque nous avons eu besoin de conseils
    p
      | Lionel et Emilie
    p
      | &mdash;&mdash;
    p
        | Nous avons pass&eacute; 4 jours dans cet appartement &agrave; notre arriv&eacute;e &agrave; San Francisco. Le quartier est tr&egrave;s calme r&eacute;sidentiel avec des immeubles anciens de style victorien, tr&egrave;s bien r&eacute;nov&eacute;s (&agrave; proximit&eacute; de Alamo Square, magnifique), tr&egrave;s bien desservi par bus pour le centre. L&apos;appartment poss&egrave;de tout le confort moderne (cuisine am&eacute;ricaine tr&egrave;s bien &eacute;quip&eacute;e, ordinateur, WIFI,....) . On se sent comme chez nous !!
    p
      | Alain D&apos;Aix En Provence
    p
      | &mdash;&mdash;&mdash;
    p
        | Loved the place and its location. It really is as lovely as the photos suggest. It was such a treat to be in such an historical house and with parking. Walking distance to great restaurants, grocery, coffee shops, bars and so close to downtown. We highly recommend it.
    p
      | Birna from Los Angeles
    p
      | &mdash;&mdash;&mdash;
    p
        | I come to SF a couple of times a year for business and I always arrange to stay a couple of days extra to enjoy the city. I must say that this apartment is among the very best I have stayed at in this city. First of all, the place itself is very nicely furnished with everything you can ask for, including many guidebooks to organize activities during your stay. The street is quiet but very well located, within a block of Alamo Square and walking distance to many restaurants and grocery stores. If you are here for tourism, many neighborhoods are less than 30mn walking distance or a couple of minutes by cab/bus. I had to attend business in the CBD for several days and again it took no more than 30 mn to walk there. For the days I was in a hurry, I hired a cab which took less than 10 mn to get me to the office. Last but not least, this is a fantastic value. The price for such a large apartment in such a good location is hard to beat. Before finding this flat, I was used paying up to twice the price for a smaller place and much further away from downtown. No need to say I will be back!
    p
      | Jeannot from Montreal
    p
      | &mdash;&mdash;&mdash;
    p
        | Being former natives, whose families live in SF, staying in such a great apartment over the summer made us feel right at home and wanting to move back! The apartment was perfect: spacious, amazing kitchen, perfectly equipped and well located. It was wonderful to receive a bottle of wine on arrival. We highly recommend the place!
    p
      | John and Patricia
    p
      | &mdash;&mdash;&mdash;
    p
        | My family and I rented this apartment for 5 days during our California vacation. We were very happy with the apartment and owner. Highly recommended for a family of up to 6 (comfortably). The apartment was clean and very well furnished, and felt like home rather than a hotel. The place is conveniently located in a nice, quiet neighbourhood just minutes walk from Alamo Square park and only 15 minutes drive to downtown. We had a minivan and Peggy kindly let us park in their driveway during our stay. Be sure to ask beforehand because on-street parking is at a premium especially overnight in San Fransisco!
    p
      | Michael and Tiffany&nbsp;
    p
      | &mdash;&mdash;&mdash;&mdash;
    p
        | The owners take amazing pridfe making you feel at home in their vacation flat. It is immaculate, and has everything you will need in terms of accessories and comfort features. The location is proximal to evrything. Alamo Square is a block away, it&apos;s on the bus line. Golden Gate Park is jogging distance, nightlife awaits two blocks away on the pisidero. Our party of five, include my wife, me, our children, and my mother in law. Everyone was pleased. I would highly rate this flat.
    p
      | John and Cathy