#alamo-flat-images.carousel.slide(data-ride='carousel', data-interval='false')
  // Indicators
  ol.carousel-indicators.hidden
    li.active(data-target='#alamo-flat-images', data-slide-to='0')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='1')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='2')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='3')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='4')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='5')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='6')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='7')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='8')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='9')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='10')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='11')
    |     
    li(data-target='#alamo-flat-images', data-slide-to='12')
  // Wrapper for slides
  .carousel-inner(role='listbox')
    .item.active
      img.carousel(src='/images/flat/frontview.jpg', alt='Historic Victorian Entrance')
      |       
      .carousel-caption
        | Historic Victorian Entrance   
    .item
      img.carousel(src='/images/flat/entrance.jpg', alt='One Block From the Famous Painted Ladies')
      |       
      .carousel-caption
        | One Block From the Famous Painted Ladies
    .item
      img.carousel(src='/images/flat/kitchen.jpg', alt='Top of the line kitchen')
      |       
      .carousel-caption
        | Top of the line kitchen
    .item
      img.carousel(src='/images/flat/livingroom.jpg', alt='Living room')
      |       
      .carousel-caption
        | Living room
    .item
      img.carousel(src='/images/flat/diningroom.jpg', alt='Dining Table by the Kitchen')
      |       
      .carousel-caption
        | Dining Table by the Kitchen
    .item
      img.carousel(src='/images/flat/masterbed.jpg', alt='Master Bedroom')
      |       
      .carousel-caption
        | Master Bedroom
    .item
      img.carousel(src='/images/flat/masterbed2.jpg', alt='Master Bedroom-2')
      |       
      .carousel-caption
        | Master Bedroom-2
    .item
      img.carousel(src='/images/flat/largebath.jpg', alt='Large bathroom with skylights')
      |       
      .carousel-caption
        | Large bathroom with skylights
    .item
      img.carousel(src='/images/flat/largebath2.jpg', alt='Bathroom')
      |       
      .carousel-caption
        | Bathroom
    .item
      img.carousel(src='/images/flat/secondbed.jpg', alt='Second Bedroom')
      |       
      .carousel-caption
        | Second Bedroom
    .item
      img.carousel(src='/images/flat/secondbed2.jpg', alt='Second Bedroom-2')
      |       
      .carousel-caption
        | Second Bedroom-2
    .item
      img.carousel(src='/images/flat/twinbeds.jpg', alt='Third Bedroom - twin beds')
      |       
      .carousel-caption
        | Third Bedroom - twin beds
    .item
      img.carousel(src='/images/flat/twinbeds2.jpg', alt='Third Bedroom')
      |       
      .carousel-caption
        | Third Bedroom
    .item
      img.carousel(src='/images/flat/fourthbed.jpg', alt='Fourth Bedroom with bunkbeds')
      |       
      .carousel-caption
        | Fourth Bedroom with bunkbeds
  // Controls
  a.left.carousel-control(href='#alamo-flat-images', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    |     
    span.sr-only Previous
  |   
  a.right.carousel-control(href='#alamo-flat-images', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    |     
    span.sr-only Next
