extends layout 

block content
  nav#navbar-ar.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', 
                                data-toggle='collapse', 
                                data-target='#navbar-ar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar-ar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-left
          li#first-link.active
            a(href='#photos') Photos
          |         
          li
            a(href='#highlights') Highlights
          |             
          li
            a(href='#description') Description
          |             
          li#last-link
            a(href='#reviews') Reviews
  .container-fluid.scrollspy-ar(data-spy='scroll', 
                       data-target='#navbar-ar',
                       data-offset='0')
    .row#photos
      include ../views/includes/carousel
    .row#highlights
      include ../views/includes/highlights
    .row#description
      include ../views/includes/description
    .row#reviews
      include ../views/includes/reviews
      //- h4#photos Photos
      //- include ../views/includes/photos


