extends layout 

block content
  nav#navbar-ar.navbar.navbar-fixed-top
    .container-fluid     
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#photos') Photos
          |         
          li
            a(href='#highlights') Highlights
          |             
          li
            a(href='#description') Description
          |             
          li
            a(href='#reviews') Reviews
    .scrollspy-example(data-spy='scroll', 
                       data-target='#navbar-ar', 
                       data-offset='0')
      h4#photos Photos
      //- include ../views/includes/carousel
      h4#highlights Highlights
      //- include ../views/includes/highlights
      h4#description Description
      include ../views/includes/description
      h4#reviews Reviews
      //- include ../views/includes/reviews
      //- h4#photos Photos
      //- include ../views/includes/photos


