body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative; /*for scrollspy*/
}

a {
  color: #00B7FF;
}

img.carousel {
  height: auto;
  width: 100%;
}

.scrollspy-ar {
  position: relative;
  /*margin-top: 50px;*/
  overflow: auto
}

#description {
  background-color: #f5f5f5;
  border-top: 1px solid #DCE0E0;
  border-bottom: 1px solid #DCE0E0;
}